@page
@model Rms.Web.Pages.Product.IndexModel
@{
}
Products
<p>*** SITE TEXT ****  @Model.settings.SiteText</p>

@{

    foreach (var env in Environment.GetEnvironmentVariables().Keys)
    {
        <div>@env.ToString() - @Environment.GetEnvironmentVariable(env.ToString())</div>
    }
}