@page
@model Rms.Web.Pages.TableMenu.IndexModel
@{
}
<p>@ViewData["GatewayBaseUrl"]</p>
<button onclick="showProducts()">Load products @ViewData["ResponseCode"]</button>
<div id="result"></div>

@section Scripts{ 

<script type="text/javascript">
    $(document).ready(function () {
        
    });

    function showProducts() {

        $.ajax({
            type: "GET",
            url: "TableMenu/Index?handler=ListMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                
                $('#result').html(response);
            },
            failure: function (response) {
                alert(response);
            }
        });
    }
</script>

}